@font-face {
	font-family: "BBVA Web Light";
	src: url("../fonts/bbvaweb-light.eot?") format("embedded-opentype"),
	     url("../fonts/bbvaweb-light.woff") format("woff"),
	     url("../fonts/bbvaweb-light.ttf") format("opentype");
	     url("../fonts/bbvaweb-light.svg") format("svg");
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

h3 {
	font-family: "BBVA Web Light";
	font-weight: normal;
	color: #232323;
	font-size: 28px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.titulo{
	color: #094FA4 !important;	
}

p {
	font-family: "BBVA Web Light";
	font-weight: regular;
	color: #232323;
	font-size: 18px;
}

.form-group {
	margin-bottom: 0px;
}

.form-control {
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #094FA4;
	font-size: 16px;
	border: 1px solid #DCDCDC;
}

.form-select {
	background-color: #F2F2F2; /*#D5E2EE*/
	color: #094FA4;
}

.form-control::-moz-placeholder {
  color: #094FA4;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #094FA4;
}
.form-control::-webkit-input-placeholder {
  color: #094FA4;
}

.btn-link{
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #094FA4;;
	font-size: 16px;
	text-decoration: underline;
}

.btn-primary{
	background-color: #094FA4;
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	padding: 6px 20px;
}
.btn-secondary{
	background-color: #094FA4;
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14px !important;
	padding: 6px 20px;
}

.well-bbva {
	margin-top: 50px;
	border: none;
	margin-left: 50px;
	margin-right: 50px;
}
.well-sucess{
	background-color: #E2FAFE;
}
.font-blue{
	color: #064CA4 !important;
}

.help-block {
	font-family: "BBVA Web Light";
	margin-bottom: 10px;
	margin-top: 6px;
	min-height: 20px;
}

.error-bbva {
	color: #C8175E;
}

.modal-title {
	font-family: "BBVA Web Light";
	font-size: 16px;
	font-weight: bold;
	color: #094FA4;
}

.modal-body {
	font-family: "BBVA Web Light";
	font-size: 14px;
}

.errorTooltip + .tooltip > .tooltip-inner {background-color: #F7E9E9; font-family: "BBVA Web Light"; color: #C4136C; padding-bottom: 10px; padding-top: 10px; border: 1px solid #F4CCDF; font-weight: bold;}
.errorTooltip + .tooltip > .tooltip-arrow { border-top-color:#F7E9E9; }

.font-calculadora{
	font-family: "BBVA Web Light";
	font-size: 13px !important;
}

.form-control-error::-moz-placeholder {
  color: #C4136C;
  opacity: 1;
}
.form-control-error:-ms-input-placeholder {
  color: #C4136C;
}
.form-control-error::-webkit-input-placeholder {
  color: #C4136C;
}
.form-control-error {
	color: #C4136C;
	background-color: #F7E9E9 !important;
	border: 1px solid #F4CCDF;
}

.icono-opciones {
	padding-left: 7px;
	padding-right: 7px;
}

.espacio {
	margin-bottom: 15px;
}

.opciones_calculadora{
	vertical-align: middle;
	width:  35px !important;
	height: 35px !important;
}

.titulo_nivel2{
	color: #232323;
	font-family: "BBVA Web Light";
	font-weight: bold;
	font-size: 26px;
}
.subtitulo{
	color: #094FA4;
	font-family: "BBVA Web Light";
	font-weight: bold;
	font-size: 16px;
	margin-top:10px;
}
.normal_15 {
	font-family: "BBVA Web Light";
	color: #232323 !important;
	font-size: 15px !important;
	font-weight: normal !important;
}
.normal_13 {
	font-family: "BBVA Web Light";
	color: #232323 !important;
	font-size: 13px !important;
	font-weight: normal !important;
}
.normal_12 {
	font-family: "BBVA Web Light";
	color: #232323 !important;
	font-size: 12px !important;
	font-weight: normal !important;
}
.normal_30{
	font-size: 30px !important;
}
.negrita_32{
	font-size: 32px !important;
	font-weight: bold !important;
}
.formulario_input{
	background-color: #f8f8f5 !important;
	padding-left: 20px !important;
	padding-top: 10px;
	padding-right: 10px;
	
	border-radius: 10px 10px 10px 10px !important;
	-moz-border-radius: 10px 10px 10px 10px !important;
	-webkit-border-radius: 10px 10px 10px 10px !important;
}
.min_height_panel{
	min-height: 350px !important;
}
.min_height_panel_cuotas{
	min-height: 408px !important;
}
.formulario_output{
	background-color: #e2fafe !important;
	padding: 10px;
	border-radius: 10px 10px 10px 10px !important;
	-moz-border-radius: 10px 10px 10px 10px !important;
	-webkit-border-radius: 10px 10px 10px 10px !important;
}
.alinear_output{
	margin-top: 180px !important;
}
.alinear_output_opc1{
	margin-top: 50px !important;
}
.alinear_output_opc2{
	margin-top: 140px !important;
}
.contenido_centrado{
	justify-content:center;
	text-align:center !important;
}
.texto_output_opc1{
	font-size: 22px !important;
}
.input_monto{
	padding-left: 45px;
	text-align: center;
}
.btn-calculadora {
    color: #094fa4;
    border-color: #eee;
    background-color: #eee;
}
.btn-calculadora:hover {
    color: #094fa4;
    border: 1px solid #094fa4 !important;
}
.btn_pdf{
  	background-image: url(../img/icono-pdf-min.png) !important;
  	background-repeat:no-repeat !important;
	background-position: 15px 5px !important;
	padding-left: 25px !important;
	width: 150px !important;
	font-size: 11px !important;
	font-weight: normal !important;
	margin-top:10px !important;
}
.btn_ffmm{
    background-image:url(../img/icono-ffmm.png) !important;
  	background-repeat:no-repeat !important;
	background-position: 40px 5px !important;
	padding-left: 40px !important;
}
.btn_final{
	width:240px !important;
	height: 35px !important;
	text-align: center !important;
}
.btn_solicitar{
	width:150px !important;
	height: 35px !important;
	text-align: center !important;
}
.margin_bottom_10{
	margin-bottom: 10px !important;
}
.margin_top_10{
	margin-top: 10px !important;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_right{
	text-align: right !important;
}
.tabla_disclaimers{
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom:20px;
	font-family: "BBVA Web Light";
	background-color: #FFFAEB;
	border-radius: 10px 10px 10px 10px !important;
	-moz-border-radius: 10px 10px 10px 10px !important;
	-webkit-border-radius: 10px 10px 10px 10px !important;
	border: 1px solid #F2D7BB !important;
	padding-right:5px;
	font-size: 12px !important;
}
.tabla_disclaimers a{
	color: #007fbd !important;
}

.tabla_disclaimers ul {
    list-style: none;
    padding:0;
    margin:0;
}

.tabla_disclaimers li { 
    padding-left: 2em; 
    text-indent: -.7em;
}

.tabla_disclaimers li:before {
    content: "\2022";
    color: #007fbd; /* or whatever color you prefer */
    
  	font-size:1.5em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  	padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  	position:relative;
    top:.05em;
}
/*Nuevas clases*/
.col-xs-2ths,
.col-sm-2ths,
.col-md-2ths,
.col-lg-2ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-2ths {
    width: 48%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-2ths {
        width: 48%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-2ths {
        width: 49%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-2ths {
        width: 49%;
        float: left;
    }
}


.col-xs-arrow,
.col-sm-arrow,
.col-md-arrow,
.col-lg-arrow {
    position: relative;
    min-height: 240px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-arrow {
    width: 2%;
    float: left;
}
#pdfCalculadora{
	display: block;
}
#pdfCalculadoraRD{
	display: none;
}
@media handheld, only screen and (max-width: 767px) {
	 .col-sm-arrow { 
		  	background-image:url(../img/icono-flecha-invertida.png);
		  	background-repeat:no-repeat;
			background-position: 50% 20%; 
	    	padding-top:20px;
	    	min-height: 30px;
	 		}  
	#pdfCalculadora{
		display:none;
		}
	#pdfCalculadoraRD{
		display: block;
		}
	.divRD{
		width: 60%;
		margin:0 auto !important;
	}
}
@media only screen and (max-width: 767px) {
	 .col-sm-arrow { 
		  	background-image:url(../img/icono-flecha-invertida.png);
		  	background-repeat:no-repeat;
			background-position: 50% 20%;
			padding-top:20px;
			min-height: 30px;
	 		}  
	#pdfCalculadora{
		display:none;
		}
	#pdfCalculadoraRD{
		display: block;
		}
	.divRD{
		width: 60%;
		margin:0 auto !important;
	}
}
@media (min-width: 768px) {
    .col-sm-arrow {
        width: 2%;
        float: left;
	  	background-image:url(../img/icono-flechas-banner.png);
	  	background-repeat:no-repeat;
		background-position: 60% 90%;
		min-height: 240px;
    }
	#pdfCalculadora{
		display: block;
	}
	#pdfCalculadoraRD{
		display: none;
	}
}

@media (min-width: 992px) {
    .col-md-arrow {
        width: 2%;
        float: left;
	  	background-image:url(../img/icono-flechas-banner.png);
	  	background-repeat:no-repeat;
		background-position: 60% 90%;
		min-height: 240px;
    }
	#pdfCalculadora{
		display: block;
	}
	#pdfCalculadoraRD{
		display: none;
	}
}

@media (min-width: 1200px) {
    .col-lg-arrow {
        width: 2%;
        float: left;
	  	background-image:url(../img/icono-flechas-banner.png);
	  	background-repeat:no-repeat;
		background-position: 60% 90%;
		min-height: 240px;
    }
	#pdfCalculadora{
		display: block;
	}
	#pdfCalculadoraRD{
		display: none;
	}
}


/*Moneda*/
input[type="text"].form-control.dollar,
input[type="email"].form-control.dollar,
input[type="password"].form-control.dollar,
input[type="search"].textbox.dollar {
  background: url("../img/dollar.png") 7% 53% no-repeat;
  border-right-width: 1px;
  background-color: #FFFFFF;
}

input[type="text"].form-control.sol,
input[type="email"].form-control.sol,
input[type="password"].form-control.sol,
input[type="search"].textbox.sol {
  background: url("../img/sol.png") 7% 53% no-repeat;
  border-right-width: 1px;
  background-color: #FFFFFF;
}

input[type="text"].form-control.euro,
input[type="email"].form-control.euro,
input[type="password"].form-control.euro,
input[type="search"].textbox.euro {
  background: url("../img/textbox_euro.png") -5% center no-repeat;
  text-align: right;
}

/**/
.display_none{
	display: none;
}
.display_block{
	display: block;
}
.vertical-align--middle {
  vertical-align: middle !important;
}


.msj_advertencia_ajax{
  color: #F4CCDF;
  background-color: #f7e9e9;
  border: 1px solid #f4ccdf;

  font-size: 12px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  
	border-style: solid;
    border-width: 1px;
    
	border-radius: 10px 10px 10px 10px !important;
	-moz-border-radius: 10px 10px 10px 10px !important;
	-webkit-border-radius: 10px 10px 10px 10px !important;
	
	padding: 15px 15px 15px 0px;
	
	margin: 10px;
	display:block;
	position: relative;
}
.texto_error{
	display:block;
	color: #c4136c !important;
	margin-left:50px;
	font-size: 15px !important;
}
.ico_error{
	/*background: url(../img/ico-error-bbvanet.png) no-repeat;*/
	display:block;
	top:15px;
	left:15px;
	z-index: 1;
	width: 24px;
	height: 24px;
	background-size: 80% 80%;
	position: absolute;
}
.margin-top-btn{
	margin-top: 10px;
}
.fondo-periodo{
	background-color: rgba(226,250,254,0.5) !important;
    margin-right: 0px;
    margin-left: 0px;
}
.padding_left_5{
	padding-left: 5px !important;
}
.padding_right_35{
	padding-right: 35px !important;
}
.padding_opciones{
	padding-left: 25px !important;
}

@media (min-width: 1200px) {
  .container-fluid {
    width: 960px !important;
   }
}
.padding_titulo_principal{
	padding-top:25px !important;
}
.padding_bottom_10{
	padding-bottom:10px !important;
}
.padding_top_10{
	padding-top:10px !important;
}
.padding_right_0{
	padding-right:0px !important;
}
.padding_left_0{
	padding-left:0px !important;
}
.padding_objetivos{
	padding-left:20px !important;
}
#separador{
	height: 1px !important;
	width: 350px !important;
}