@font-face {
	font-family: "BBVA Web Light";
	src: url("../fonts/bbvaweb-light.eot?") format("embedded-opentype"),
	     url("../fonts/bbvaweb-light.woff") format("woff"),
	     url("../fonts/bbvaweb-light.ttf") format("opentype");
	     url("../fonts/bbvaweb-light.svg") format("svg");
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}
@font-face {
	font-family: "BBVA Web Book";
	src: url("../fonts/bbvaweb-book.eot?") format("embedded-opentype"),
	     url("../fonts/bbvaweb-book.woff") format("woff"),
	     url("../fonts/bbvaweb-book.ttf") format("opentype");
	     url("../fonts/bbvaweb-book.svg") format("svg");
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}
body{
	font-family: "BBVA Web Light";
}
h3 {
	font-family: "BBVA Web Light";
	font-weight: normal;
	color: #232323;
	font-size: 28px;
	margin-bottom: 40px;
	margin-top: 40px;
}

p {
	font-family: "BBVA Web Light";
	font-weight: regular;
	color: #232323;
	font-size: 18px;
}

.form-group {
	margin-bottom: 0px;
}

.form-control {
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #094FA4;
	font-size: 16px;
	border: 1px solid #DCDCDC;
}

.form-select {
	background-color: #F2F2F2;
	color: #094FA4 !important;
}

.form-select:hover {
	background-color: #F2F2F2;
	color: #094FA4;
}

.form-control::-moz-placeholder {
  color: #094FA4;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #094FA4;
}
.form-control::-webkit-input-placeholder {
  color: #094FA4;
}

.btn-link{
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #094FA4;;
	font-size: 16px;
	text-decoration: underline;
}

.btn-primary{
	background-color: #094FA4;
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	padding: 6px 20px;
}

.well-bbva {
	margin-top: 50px;
	border: none;
	margin-left: 50px;
	margin-right: 50px;
}
.well-sucess{
	background-color: #E2FAFE;
}
.bbva_web_book{
	font-family: "BBVA Web Book";
	font-weight: bold;
}
.font-blue{
	color: #064CA4;
}

.help-block {
	font-family: "BBVA Web Light";
	margin-bottom: 10px;
	margin-top: 6px;
	min-height: 20px;
}

.error-bbva {
	color: #C8175E;
}

.modal-title {
	font-family: "BBVA Web Light";
	font-size: 16px;
	font-weight: bold;
	color: #094FA4;
}

.modal-body {
	font-family: "BBVA Web Light";
	font-size: 14px;
}
/*

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
*/
.pointer{
	cursor: pointer;
}
.not-underline-link:hover{
	text-decoration: none;
}
.lnk_underline{
	text-decoration: underline !important;
}
.ct_fff{
	color: #fff !important;
	cursor: pointer;
}
.popover{
    background: #0078d2 !important;
	color: #fff !important;
	font-size: 11px;
	padding: 3px !important;
	margin-left: 40px;
	width: 200px;
	opacity: 0.9 !important;
}
.popover-content{
	padding: 10px !important;
}
.arrow:after{
	border-bottom-color:#0078d2 !important;
}
.errorTooltip + .tooltip > .tooltip-inner {background-color: #F7E9E9; font-family: "BBVA Web Light"; color: #C4136C; padding-bottom: 10px; padding-top: 10px; border: 1px solid #F4CCDF; font-weight: bold;}
.errorTooltip + .tooltip > .tooltip-arrow { border-top-color:#F7E9E9; }
.infoTooltip + .tooltip > .tooltip-inner {background-color: #0078d2; font-family: "BBVA Web Light"; color: #fff; padding-bottom: 10px; padding-top: 10px; border: 1px solid #1666b7; font-weight: bold;}
.infoTooltip + .tooltip > .tooltip-arrow { border-top-color:#1666b7; }


.font-seguro{
	font-family: "BBVA Web Light";
	font-size: 16px;
}

.form-control-error::-moz-placeholder {
  color: #C4136C;
  opacity: 1;
}
.form-control-error:-ms-input-placeholder {
  color: #C4136C;
}
.form-control-error::-webkit-input-placeholder {
  color: #C4136C;
}

.form-control-error {
	color: #C4136C !important;
	background-color: #F7E9E9;
	border: 1px solid #F4CCDF;
}

.form-control-error:hover {
	color: #C4136C;
	background-color: #F7E9E9;
	border: 1px solid #F4CCDF;
}

.icono-seguro {
	padding-left: 7px;
	padding-right: 7px;
}

.espacio {
	margin-bottom: 15px;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.checkbox input[type="checkbox"] {
	/*width: 33px;
	height: 33px;*/
}*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.separa_block {	
	min-height: 15px !important;
}
.negrita{
	font-weight: bold;
}
.t_azul{
	color:#006bce !important;
}
.t_resaltado{
	color: #009ee5 !important;
}
.t_22{
	font-size: 22px !important;
}
.t_20{
	font-size: 19px !important;
}
.t_19{
	font-size: 19px !important;
}
.t_18{
	font-size: 18px !important;
}
.t_16{
	font-size: 16px !important;
	padding-right: 5px;
}
.t_14{
	font-size: 14px !important;
}
.t_12{
	font-size: 12px !important;
}
.t_10{
	font-size: 10px !important;
}
.mtop_20{
	margin-top: 20px;
}
.disc_importante{
    margin:0;
    padding-left: 2em; 
    text-indent: -.1em;
    font-size: 12px !important;
}

.tabla_disclaimers{
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom:20px;
	font-family: "BBVA Web Light";
	background-color: #FFFAEB;
	border-radius: 10px 10px 10px 10px !important;
	-moz-border-radius: 10px 10px 10px 10px !important;
	-webkit-border-radius: 10px 10px 10px 10px !important;
	border: 1px solid #F2D7BB !important;
	padding-right:5px;
	font-size: 12px !important;
}
.tabla_disclaimers a{
	color: #007fbd !important;
}

.tabla_disclaimers ul {
    list-style: none;
    padding:0;
    margin:0;
}

.tabla_disclaimers li { 
    padding-left: 2em; 
    text-indent: -.7em;
}

.tabla_disclaimers li:before {
    content: "\2022";
    color: #007fbd; /* or whatever color you prefer */
    
  	font-size:1.5em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  	padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  	position:relative;
    top:.05em;
}

@media (min-width: 768px) {
  .tabla_input {
		padding-bottom: 10px;
		margin-top: 20px;
		margin-bottom:20px;
		background-color: #fff;
		border-radius: 25px 25px 25px 25px !important;
		-moz-border-radius: 25px 25px 25px 25px !important;
		-webkit-border-radius: 25px 25px 25px 25px !important;
		border: 1px solid #03b1ff !important;
		padding:20px !important;
	}
	.well-sucess-xs{
	}
	.well-sucess-attach-xs{
	}
	.lnkBeneficioPlan{
		background: #FFFFFF, #E4E3E4;
	    background: -webkit-linear-gradient(#FFFFFF, #E4E3E4);
	    background: -o-linear-gradient(#FFFFFF, #E4E3E4);
	    background: -moz-linear-gradient(#FFFFFF, #E4E3E4);
	    background: linear-gradient(#FFFFFF, #E4E3E4);
	    padding-top:10px !important;
	    padding-bottom:10px !important;
	}
}
.lnkBeneficioPlan{
    padding-top:5px !important;
    padding-bottom:5px !important;
    margin-top: 20px;
}
.lnkBeneficioPlanMobile{
    padding-top:0px !important;
    padding-bottom:5px !important;
    margin-top: 0px;
}
.well-sucess-xs{
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.well-sucess-attach-xs{
	padding: 0px;
}
.tabla_input {
	
}

.i_center {
    margin-left: auto;
    margin-right: auto 
}
.i_right{
	float: right; 
	margin: 0px 0px 15px 15px;
}
.paddingNumberCircle_small{
	padding-left: 9px !important;
    padding-right: 9px !important;
}
.numberCircle_small {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 26px !important;
    height: 26px !important;
    padding: 3px;
    
    background: #03b1ff;
    color: #fff;
    text-align: center;
    
	font-size: 14px !important;
    z-index: 8;
    
    background: -webkit-linear-gradient(#03B1FF, #7CDBFE);
    background: -o-linear-gradient(#03B1FF, #7CDBFE);
    background: -moz-linear-gradient(#03B1FF, #7CDBFE);
    background: linear-gradient(#03B1FF, #7CDBFE);
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 42px;
    height: 42px;
    padding: 3px;
    
    background: #03b1ff;
    color: #fff;
    text-align: center;
    font-weight: bold;
	font-size: 24px !important;
    z-index: 8;
    position:absolute;
    
    margin-top: -10px;
    margin-left: -15px;
    
    background: -webkit-linear-gradient(#03B1FF, #7CDBFE);
    background: -o-linear-gradient(#03B1FF, #7CDBFE);
    background: -moz-linear-gradient(#03B1FF, #7CDBFE);
    background: linear-gradient(#03B1FF, #7CDBFE);
}
.box_principal{
	padding:15px !important;
}
.pad_tb_row{
	padding-bottom: 7.5px !important;
	padding-top: 7.5px !important;
}
.pad_bonus {
	padding-left: 30px !important;
}
.span_new_window{
	font-size: 14px !important;
	font-weight: normal !important;
	margin-top:10px !important;
	/*padding-bottom: 10px;*/
}
.span_pdf{
  	background-image: url(../img/icono-pdf-min.png) !important;
  	background-repeat:no-repeat !important;
  	background-size: 14px 19px;
	/*background-position: 15px 5px !important;*/
	padding-left: 25px !important;
	font-size: 14px !important;
	font-weight: normal !important;
	margin-top:10px !important;
	/*padding-bottom: 10px;*/
	text-decoration: underline;
	text-decoration-color: #337AB7;
}
.span_arrows{
 	background-image: url(../img/seguros/arrows-16.png) !important;
 	background-repeat:no-repeat !important;
 	background-size: 14px 19px;
	/*background-position: 15px 5px !important;*/
	padding-left: 25px !important;
	font-size: 14px !important;
	font-weight: normal !important;
	margin-top:10px !important;
	/*padding-bottom: 10px;*/
	text-decoration: underline;
	text-decoration-color: #337AB7;
}
.div_seguro_monto_xs{
	background-color: #00a3d9 !important;
	font-size: 15px !important;
	color: #fff;
	width: 120px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "BBVA Web Light";
    height: 100px !important;
    margin-top: 1px;
}
.div_seguro_monto{
	background-color: #00a3d9 !important;
	font-size: 15px !important;
	color: #fff;
	width: 120px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "BBVA Web Light";
    height: 60px !important;
}
.div_seguro_monto_er{
	background-color: #777777 !important;
	font-size: 11px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
}
.div_seguro_monto_xs_er{
	background-color: #777777 !important;
	font-size: 12px !important;
}
.div_seguro_monto_01{
	background-color: #43a517 !important;
}
.div_seguro{
	width: 120px;
    height: 90px;
    background-size: 120px 90px;
    background-repeat:no-repeat !important;	
}
.div_seguro_xs{
	width: 180px;
    height: 110px;
    background-size: 180px 102px;
    background-repeat:no-repeat !important;	
    float: right; 
}
.div_seguro_01{
	background-image: url(../img/seguros/img-plan-piquito.png) !important;
}
.div_seguro_02{
	background-image: url(../img/seguros/img-plan-besito.png) !important;
}
.div_seguro_03{
	background-image: url(../img/seguros/img-plan-beso-frances.png) !important;
}
.btn_placa{
	background-image: url(../img/seguros/icono-buscar-placa.png) !important;
  	background-repeat:no-repeat !important;	
  	background-position: 5px 5px !important;
  	background-size: 27px 25px;
  	height: 33px;
  	width: 40px;
  	border: 0px !important;
}
.div_btn_placa{
	padding-left: 5px !important;
}
.d_summary{
	margin-left:30px;
	margin-right:30px;
}
.row_summary{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.pd_condiciones{
	padding-top:10px;
	padding-left: 10px; 
}
.icon-help-16 {
	background-image: url(../img/ayudaBBVA.png);
	background-position: 0 0;
	height: 18px;
	width: 18px;
	position: relative;
	top: 5px;
	display: inline-block;
	cursor: pointer;
	margin: 0;
}
.tooltip-inner {
    max-width: 250px;
    /* If max-width does not work, try using width instead */
    width: 200px; 
}
.pd_left_0{
	padding-left: 0px !important;
}
.pd_right_0{
	padding-right: 0px !important;
}
.mgn_left_0{
	margin-left: 0px !important;
}
.mgn_right_0{
	margin-right: 0px !important;
}
.disfruta_beneficios {
	margin-top: 15px;
	background-color: #fff;
	border: 2px solid #03b1ff !important;
	margin-bottom: 15px;
}
#lnkBeneficio{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-decoration: none;
}
#lnkBeneficio:hover{
	cursor: pointer;
}

.loading{
	width: 62px;
    height: 62px;
    background: #ffffff;
    padding: 10px;
    margin: auto;
}

.loading-text{
	margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'BBVA Web Light';
}

.lnkBeneficioPlan:hover{
	cursor: pointer;
}
.mrgBeneficio{
	margin-left: 5px;
}
.detail-sucess{
	font-family: 'BBVA Web Light';
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 960px !important;
   }
}