@font-face {
	font-family: "BBVA Web Light";
	src: url("../fonts/bbvaweb-light.eot?") format("embedded-opentype"),
	     url("../fonts/bbvaweb-light.woff") format("woff"),
	     url("../fonts/bbvaweb-light.ttf") format("opentype");
	     url("../fonts/bbvaweb-light.svg") format("svg");
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

h3 {
	font-family: "BBVA Web Light";
	font-weight: normal;
	color: #232323;
	font-size: 28px;
	margin-bottom: 40px;
	margin-top: 40px;
}

p {
	font-family: "BBVA Web Light";
	font-weight: regular;
	color: #232323;
	font-size: 18px;
}

.form-group {
	margin-bottom: 0px;
}

.form-control {
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #094FA4;
	font-size: 16px;
	border: 1px solid #DCDCDC;
}

.form-select {
	background-color: #F2F2F2; /*#D5E2EE*/
	color: #094FA4;
}

.form-control::-moz-placeholder {
  color: #094FA4;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #094FA4;
}
.form-control::-webkit-input-placeholder {
  color: #094FA4;
}

.btn-link{
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #094FA4;;
	font-size: 16px;
	text-decoration: underline;
}

.btn-primary{
	background-color: #094FA4;
	font-family: "BBVA Web Light";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	padding: 6px 20px;
}

.well-bbva {
	margin-top: 50px;
	border: none;
	margin-left: 50px;
	margin-right: 50px;
}
.well-sucess{
	background-color: #E2FAFE;
}
.font-blue{
	color: #064CA4;
}

.help-block {
	font-family: "BBVA Web Light";
	margin-bottom: 10px;
	margin-top: 6px;
	min-height: 20px;
}

.error-bbva {
	color: #C8175E;
}

.modal-title {
	font-family: "BBVA Web Light";
	font-size: 16px;
	font-weight: bold;
	color: #094FA4;
}

.modal-body {
	font-family: "BBVA Web Light";
	font-size: 14px;
}

.prote_tar + .tooltip > .tooltip-inner {background-color: #9354ED; font-family: "BBVA Web Light";}
.prote_tar + .tooltip > .tooltip-arrow { border-top-color:#9354ED; }
.renta_hos + .tooltip > .tooltip-inner {background-color: #24C6C6; font-family: "BBVA Web Light";}
.renta_hos + .tooltip > .tooltip-arrow { border-top-color:#24C6C6; }
.prote_mul + .tooltip > .tooltip-inner {background-color: #8C6123; font-family: "BBVA Web Light";}
.prote_mul + .tooltip > .tooltip-arrow { border-top-color:#8C6123; }
.errorTooltip + .tooltip > .tooltip-inner {background-color: #F7E9E9; font-family: "BBVA Web Light"; color: #C4136C; padding-bottom: 10px; padding-top: 10px; border: 1px solid #F4CCDF; font-weight: bold;}
.errorTooltip + .tooltip > .tooltip-arrow { border-top-color:#F7E9E9; }

.font-seguro{
	font-family: "BBVA Web Light";
	font-size: 16px;
}

.form-control-error::-moz-placeholder {
  color: #C4136C;
  opacity: 1;
}
.form-control-error:-ms-input-placeholder {
  color: #C4136C;
}
.form-control-error::-webkit-input-placeholder {
  color: #C4136C;
}
.form-control-error {
	color: #C4136C;
	background-color: #F7E9E9;
	border: 1px solid #F4CCDF;
}

.icono-seguro {
	padding-left: 7px;
	padding-right: 7px;
}

.espacio {
	margin-bottom: 15px;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.checkbox input[type="checkbox"] {
	/*width: 33px;
	height: 33px;*/
}*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.separa_block {	
	min-height: 15px !important;
}
.negrita{
	font-weight: bold;
}
.t_azul{
	color:#074DA4 !important;
}