/* library javascript components */
.wizard {
  overflow: hidden;
}

.wizard.no-borders .step-container {
  border-right: 0px;
  border-left: 0px;
}
.wizard.hide-titles {
  overflow: hidden;
  border: none;
  border-radius: 0;
}
.wizard.hide-titles > a.step {
  display: none;
}
.wizard.hide-titles > a.step + div {
  padding: 0;
}
.wizard.hide-titles .step-container {
  border-right: 0px;
  border-left: 0px;
}
.wizard.hide-titles .wizard-progress-bar {
  display: none;
}
.wizard.hide-titles .step-container .slide-viewer .step > div {
  padding: 0 0 10px;
}
.wizard.hide-footer .button-bar {
  display: none;
}
.wizard > div .step-content-container .big-blue .col-md-7 {
  padding: 0;
}
@media (max-width: 769px) {
  .wizard > div .step-content-container {
    padding: 0;
  }
  .wizard > div .step-content-container h2 {
    font-size: 1.285714285714286em;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .wizard > div .step-content-container .big-blue {
    border-bottom: 1px solid #D5E2EE;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .wizard > div .step-content-container .big-blue label:first-child.col-sm-5,
  .wizard > div .step-content-container .big-blue label:first-child.col-sm-4 {
    /*font-family: BBVA Web Light;*/
    font-size: 1.285714285714286em;
    color: #0078D2;
    padding-left: 0px;
    padding-top: 0;
    width: 100%;
  }
  .wizard > div .step-content-container .big-blue label:first-child.col-sm-5.spaced,
  .wizard > div .step-content-container .big-blue label:first-child.col-sm-4.spaced {
    padding-bottom: 20px;
  }
  .wizard > div .step-content-container .big-blue .col-sm-7,
  .wizard > div .step-content-container .big-blue .col-md-7 {
    padding: 0;
  }
  .wizard > div .step-content-container .big-blue .col-sm-7 > input,
  .wizard > div .step-content-container .big-blue .col-md-7 > input {
    width: 100%;
    margin-top: 20px;
  }
  .wizard > div .step-content-container .big-blue .col-sm-7 .small,
  .wizard > div .step-content-container .big-blue .col-md-7 .small {
    font-size: 0.7857142857142857em;
    color: #71777F;
    /*font-family: Arial;*/
  }
  .wizard > div .step-content-container .big-blue .col-sm-8 #name-otros {
    width: 70%;
    max-width: 160px;
    display: inline-block;
  }
  .wizard > div .step-content-container .big-blue .col-sm-8 .small {
    font-size: 0.7857142857142857em;
    color: #71777F;
    /*font-family: Arial;*/
    display: block;
  }
  .wizard > div .step-content-container .big-blue.no-border {
    border: none;
    padding-bottom: 0px;
  }
  .wizard > div .step-content-container .big-blue.switch {
    margin: 0 0px 20px 0px;
    padding-bottom: 2px;
  }
  .wizard > div .step-content-container .big-blue.switch label:first-child {
    padding-left: 10px;
  }
  .wizard > div .step-content-container .big-blue.switch .col-sm-7 {
    padding: 0 8px;
  }
  .wizard > div .step-content-container .big-blue.switch .col-sm-7 .ui-tabs-nav {
    margin-top: 20px;
  }
  .wizard > div .step-content-container .big-blue.radio {
    margin-top: -20px;
  }
  .wizard > div .step-content-container .big-blue.radio label.control-label {
    margin-bottom: 20px;
  }
  .wizard > div .step-content-container .big-blue.radio div.left {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }
  .wizard > div .step-content-container .big-blue.radio div.right {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }
  .wizard > div .step-content-container .big-blue .radio-container {
    padding-top: 7px;
  }
  .wizard > div .step-content-container .big-blue .radio-container .radio {
    color: #434a58;
    /*font-family: arial;*/
    font-size: 12px;
    padding-left: 30px;
    padding-top: 1px;
  }
  .wizard > div .step-content-container .big-blue .radio-container .info {
    color: #434a58;
    /*font-family: arial;*/
    font-size: 12px;
    font-weight: bold;
  }
  .wizard > div .step-content-container .col-sm-4.radio {
    width: 100%;
  }
  .wizard > div .step-content-container .vertical-align .step-content-container .form-group > label {
    padding-left: 0;
  }
}
@media (max-width: 769px) and (max-width: 768px) {
  .wizard > div .step-content-container .big-blue .radio-container #limite-personalizado {
    margin-left: -10px;
  }
}
.wizard .step-container {
  /*border-left: 1px solid #DDE3EA;
  border-right: 1px solid #DDE3EA;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #FFF;*/
  display:none;
}
.wizard .step-container .slide-viewer {
  position: relative;
  width: 9999px;
}
.wizard .step-container .slide-viewer .step {
  float: left;
  padding: 1px;
}
.wizard .step-container .slide-viewer .step:not(.active) {
  overflow: hidden;
}
.wizard .step-container .slide-viewer .step > div {
  padding: 20px 0;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container {
  padding: 0 20px;
}
@media (max-width: 769px) {
  .wizard .step-container .slide-viewer .step > div > .step-content-container {
    padding: 0px;
  }
}
.wizard .step-container .slide-viewer .step > div > .step-content-container h2 {
  font-size: 1.285714285714286em;
  margin-top: 10px;
  margin-bottom: 30px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue {
  border-bottom: 1px solid #D5E2EE;
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue > label:first-child {
  /*font-family: BBVA Web Light;*/
  font-size: 1.285714285714286em;
  color: #0078D2;
  padding-left: 0px;
  text-align: left;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue .col-sm-7 {
  padding-right: 0;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue .col-sm-7 > input {
  width: 100%;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue .col-sm-7 .small {
  font-size: 0.7857142857142857em;
  color: #71777F;
  /*font-family: Arial;*/
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.no-border {
  border: none;
  padding-bottom: 0;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.switch {
  margin: 0 0px 20px 0px;
  padding-bottom: 2px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.switch > .form-group label:first-child {
  padding-left: 10px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.switch > .form-group .col-sm-7 {
  padding-right: 10px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.no-border-margin {
  border: none;
  margin: 0;
  padding-bottom: 0;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.radio {
  margin-top: -20px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.radio label.control-label {
  margin-bottom: 20px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.radio div.left {
  text-align: right;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue.radio div.right {
  text-align: left;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue .radio-container {
  padding-top: 7px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue .radio-container .radio {
  color: #434a58;
  /*font-family: arial;*/
  font-size: 12px;
  padding-left: 30px;
  padding-top: 1px;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .big-blue .radio-container .info {
  color: #434a58;
  /*font-family: arial;*/
  font-size: 12px;
  font-weight: bold;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .col-sm-4.radio {
  width: 26%;
  display: block !important;
}
.wizard .step-container .slide-viewer .step > div > .step-content-container .vertical-align .step-content-container .form-group > label {
  padding-left: 0;
}
.wizard .block-error:first-child {
  margin-top: 0;
}
.wizard > a.step {
  display: block;
  padding: 10px 20px;
  color: black;
  background-color: #F0F2EF;
  border-top: 1px solid #E5E5E5;
}
.wizard > a.step.active {
  border-bottom: 1px solid #E5E5E5;
}
.wizard > a.step:first-child {
  border-top: none;
}
.wizard > a.step.completed {
  color: #434A58;
  font-weight: bold;
  background-color: #F1F1F1;
  background-image: url(img/ok-green-16px.png);
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
  background-position-x: 96%;
  background-position-y: 50%;
}
.wizard > a.step + div {
  padding: 20px;
}
@media (max-width: 480px) {
  .wizard > a.step + div {
    padding: 20px 5px;
  }
}
@media (max-width: 768px) {
  .wizard > a.step + div .button-bar {
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
  }
}
.wizard .wizard-progress-bar {
  margin: 0;
  padding: 0;
  /*border: 1px solid #DCDCDC;
  border-radius: 3px;
  box-shadow: #FFF 0 0 0 3px inset;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: linear-gradient(white, #f5f7f8);*/
  position: relative;
  width: 100%;
  height: 70px;
}
.wizard .wizard-progress-bar .progress-line {
  position: absolute;
  height: 9px;
  top: 37px;
  margin: 0 10px 20px 10px;
  background: #D0DBE6;
}
.wizard .wizard-progress-bar .progress-line .progress-display {
  position: relative;
  left: 4px;
  height: 3px;
  margin: 3px 5px 0;
  background: #44a718;
  z-index: 1;
  width: 0;
}
.wizard .wizard-progress-bar .point-background {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: absolute;
  top: -5px;
  width: 18px;
  height: 18px;
  background: #D0DBE6;
  border-radius: 15px;
}
.wizard .wizard-progress-bar .point-background .text {
  position: relative;
  top: -20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  white-space: nowrap;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}
.wizard .wizard-progress-bar .point-background .point {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #a6bfd6;
  border-radius: 50%;
}
.wizard .wizard-progress-bar .point-background.active .point {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #44a718;
}
.wizard .wizard-progress-bar .point-background.active .text {
  color: #44a718;
}
.wizard .wizard-progress-bar .point-background.active.now .point {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
}
@media (min-width: 769px) {
  .wizard .button-bar {
    padding: 20px 0 10px;
    border-top: 1px solid #DCDCDC;
    box-shadow: 0px -2px 0px 0px #f6f6f6;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .wizard .button-bar {
    padding: 20px 0 10px;
    border-top: 1px solid #DCDCDC;
    box-shadow: 0px -2px 0px 0px #f6f6f6;
    text-align: center;
  }
}
.wizard .title-box {
  margin-bottom: 20px;
}
.wizard .title-box .title {
  color: #3285db;
  /*font-family: "BBVA Web Light", arial, sans-serif;*/
  font-size: 18px;
}
/*.step_glyphicon_1:before {
  content: "\e041";
  font-size: 16px;
}
.step_glyphicon_2:before {
  content: "\e065";
  font-size: 16px;
}
.step_glyphicon_3:before {
  content: "\e067";
  font-size: 16px;
}*/

.step_img_1 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/seguros/icono-cotiza-16.png) no-repeat top left;
	vertical-align: middle;
	margin-top: 0;
}

.step_img_2 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/seguros/icono-solicita-gris-16.png) no-repeat top left;
	vertical-align: middle;
	margin-top: 0;
}

.wizard .wizard-progress-bar .point-background.active.now .text .step_img_2 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/seguros/icono-solicita-16.png) no-repeat top left;
	vertical-align: middle;
	margin-top: 0;
}
